
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #9d7ca2;
  }
  
  header {
    background-color: #9d7ca2;
    padding: 10px;
    text-align: center;
    height:15%;
  }
  
  /* Style the topnav */
  ul.topnav {
    height:5%;
    display: flex;
      justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0e2963;
  }
  
  /* Style links in topnav */
  ul.topnav li a {
    display: block;
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  ul.topnav li a:hover {
    background-color: #dddddd;
    color: black;
  }

#title{
    color: rgb(68, 11, 121);
    font-size:30px;
    font-family:'Courier New', Courier, monospace
}
#sub-title{
    color: rgb(68, 11, 121);
    font-size:15px;
    font-family:'Courier New', Courier, monospace
}
.menu-bar-headings{
    font-size:15px;
    font-family:'Courier New', Courier, monospace
}
.home-page-container {
    min-height: calc(100vh - 20%);
    padding:30px 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #9d7ca2;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
@keyframes rotate-animation {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

img{
    height: 350px;
    padding: 30px;
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    transition:500ms;
}

  img:hover {
    animation-name: rotate-animation;
    animation-duration:2s;
    animation-iteration-count: infinite;
  }
  #dragonfly {
  
  }
  
  #chocolate-beetles {
    
  }
  
  #bug-chair {
    
  }
  
  #praying-mantis {
    
  }
  
  .bug-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 45%;
    max-width: 500px;
  }
  
  .bug-item h3 {
    color: rgb(68, 11, 121);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .bug-item h3 a {
    color: rgb(68, 11, 121);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
  }

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
    #title {
        font-size: 24px;
    }
    
    #sub-title {
        font-size: 13px;
    }
    
    header {
        padding: 15px 10px;
    }
    
    ul.topnav {
        flex-wrap: wrap;
        height: auto;
    }
    
    ul.topnav li a {
        padding: 10px 8px;
        font-size: 13px;
    }
    
    .home-page-container {
        flex-direction: column;
        gap: 30px;
        padding: 20px 10px;
    }
    
    .bug-item {
        flex-basis: 100%;
        max-width: 100%;
    }
    
    img {
        height: 250px;
        padding: 20px;
    }
    
    .bug-item h3 {
        font-size: 18px;
    }
    
    .bug-item h3 a {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    #title {
        font-size: 20px;
    }
    
    #sub-title {
        font-size: 12px;
    }
    
    ul.topnav li a {
        padding: 8px 6px;
        font-size: 11px;
    }
    
    img {
        height: 200px;
        padding: 15px;
    }
    
    .bug-item h3 {
        font-size: 16px;
    }
    
    .bug-item h3 a {
        font-size: 13px;
    }
}