* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #9d7ca2;
    background-image: 
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png);
    background-repeat: no-repeat;
    background-size: 
        35px 35px,
        40px 40px,
        30px 30px,
        38px 38px,
        42px 42px,
        32px 32px,
        36px 36px,
        34px 34px,
        39px 39px,
        37px 37px,
        33px 33px,
        41px 41px,
        35px 35px,
        38px 38px,
        40px 40px,
        36px 36px,
        34px 34px,
        39px 39px,
        37px 37px,
        35px 35px;
    background-position: 
        8% 15%,
        25% 10%,
        45% 20%,
        65% 12%,
        85% 18%,
        95% 25%,
        12% 40%,
        35% 45%,
        58% 38%,
        78% 42%,
        92% 48%,
        6% 65%,
        28% 70%,
        48% 68%,
        70% 72%,
        88% 65%,
        15% 88%,
        38% 92%,
        62% 85%,
        82% 90%;
  }
  
  header {
    background-color: #9d7ca2;
    padding: 10px;
    text-align: center;
    height:15%;
  }
  
  /* Style the topnav */
  ul.topnav {
    height:5%;
    display: flex;
      justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0e2963;
  }
  
  /* Style links in topnav */
  ul.topnav li a {
    display: block;
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  ul.topnav li a:hover {
    background-color: #dddddd;
    color: black;
  }
  .home-page-container {
    height:80%;
    padding:10px;
    display:flex;
    flex-direction: row;
    background: transparent;
    justify-content: center;
    align-items: flex-start;
}
.theories{
    display:flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    height: 100px;
    padding:30px;
    text-align: center;
}

.theories article {
    max-width: 800px;
    width: 100%;
    background-color: #9d7ca2;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 3px solid #0e2963;
}

#title{
    color: rgb(68, 11, 121);
    font-size:30px;
    font-family:'Courier New', Courier, monospace
}
#sub-title{
    color: rgb(68, 11, 121);
    font-size:15px;
    font-family:'Courier New', Courier, monospace
}
#menu-bar-headings{
    font-size:15px;
    font-family:'Courier New', Courier, monospace
}

#theory-header{
    color: rgb(68, 11, 121);
    font-size:20px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
#body-paragraphs{
    color: rgb(68, 11, 121);
    font-size:15px;
    font-family:'Courier New', Courier, monospace;
    text-align: justify;
}


a{
    color: rgb(68, 11, 121);
    font-size:15px;
    font-family:'Courier New', Courier, monospace
}

.continue-reading-heading{
    text-align: center;
}

.profile-image{
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 30px auto 0 auto;
    border-radius: 10px;
    display: block;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
    #title {
        font-size: 24px;
    }
    
    #sub-title {
        font-size: 13px;
    }
    
    header {
        padding: 15px 10px;
    }
    
    ul.topnav {
        flex-wrap: wrap;
        height: auto;
    }
    
    ul.topnav li a {
        padding: 10px 8px;
        font-size: 13px;
    }
    
    .home-page-container {
        padding: 20px 15px;
    }
    
    .theories {
        padding: 20px;
    }
    
    .theories article {
        max-width: 100%;
    }
    
    #theory-header {
        font-size: 18px;
    }
    
    #body-paragraphs {
        font-size: 14px;
    }
    
    .profile-image {
        max-width: 300px;
    }
}

@media screen and (max-width: 480px) {
    #title {
        font-size: 20px;
    }
    
    #sub-title {
        font-size: 12px;
    }
    
    ul.topnav li a {
        padding: 8px 6px;
        font-size: 11px;
    }
    
    .theories {
        padding: 15px;
    }
    
    #theory-header {
        font-size: 16px;
    }
    
    #body-paragraphs {
        font-size: 13px;
    }
    
    .profile-image {
        max-width: 250px;
    }
    
    .continue-reading-heading a {
        font-size: 13px;
    }
}
    