* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #9d7ca2;
    background-image: 
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png),
        url(../images/button.png);
    background-repeat: no-repeat;
    background-size: 
        35px 35px,
        40px 40px,
        30px 30px,
        38px 38px,
        42px 42px,
        32px 32px,
        36px 36px,
        34px 34px,
        39px 39px,
        37px 37px,
        33px 33px,
        41px 41px,
        35px 35px,
        38px 38px,
        40px 40px,
        36px 36px,
        34px 34px,
        39px 39px,
        37px 37px,
        35px 35px;
    background-position: 
        8% 15%,
        25% 10%,
        45% 20%,
        65% 12%,
        85% 18%,
        95% 25%,
        12% 40%,
        35% 45%,
        58% 38%,
        78% 42%,
        92% 48%,
        6% 65%,
        28% 70%,
        48% 68%,
        70% 72%,
        88% 65%,
        15% 88%,
        38% 92%,
        62% 85%,
        82% 90%;
  }
  
  header {
    background-color: #9d7ca2;
    padding: 10px;
    text-align: center;
    height:15%;
  }
  
  /* Style the topnav */
  ul.topnav {
    height:5%;
    display: flex;
      justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0e2963;
  }
  
  /* Style links in topnav */
  ul.topnav li a {
    display: block;
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  ul.topnav li a:hover {
    background-color: #dddddd;
    color: black;
  }

#title{
    color: rgb(68, 11, 121);
    font-size:30px;
    font-family:'Courier New', Courier, monospace
}
#sub-title{
    color: rgb(68, 11, 121);
    font-size:15px;
    font-family:'Courier New', Courier, monospace
}
#menu-bar-headings{
    font-size:15px;
    font-family:'Courier New', Courier, monospace
}
.background-container{
    padding:10px;
    display:flex;
    flex-direction: row;
    background: transparent;
    height:100vh;
    width: 100vw;
    gap: 10px;
}
.text-container {
    padding:30px;
    height:80%;
    width:50%;
    display:flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: center;
}
.image-container {
    padding:30px;
    height:80%;
    width:50%;
    display:flex;
    flex-direction: row;
    background-color: transparent;
    background-image: url(../images/quill-and-ink.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center top;
}
#theory-header{
    color: rgb(68, 11, 121);
    font-size:20px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
#body-paragraphs{
    color: rgb(68, 11, 121);
    font-size:15px;
    font-family:'Courier New', Courier, monospace;
    text-align: justify;
}
.theories{
    height:100vh;
    width: 100vw;
    flex-direction: column;
    text-align: center;
}
a{
    color: rgb(68, 11, 121);
    font-size:15px;
    font-family:'Courier New', Courier, monospace
}
.continue-reading-heading{
    text-align: center;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
    #title {
        font-size: 24px;
    }
    
    #sub-title {
        font-size: 13px;
    }
    
    header {
        padding: 15px 10px;
    }
    
    ul.topnav {
        flex-wrap: wrap;
        height: auto;
    }
    
    ul.topnav li a {
        padding: 10px 8px;
        font-size: 13px;
    }
    
    .background-container {
        flex-direction: column !important;
        height: auto !important;
        min-height: 100vh;
    }
    
    .text-container {
        width: 100% !important;
        height: auto !important;
        padding: 20px !important;
        position: relative;
        z-index: 2;
    }
    
    .theories {
        height: auto !important;
        min-height: auto !important;
        width: 100% !important;
    }
    
    .image-container {
        width: 100% !important;
        height: 300px !important;
        min-height: 300px !important;
        padding: 20px !important;
        background-size: 50% !important;
        background-position: center center !important;
        position: relative;
        z-index: 1;
    }
    
    #theory-header {
        font-size: 18px;
    }
    
    #body-paragraphs {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    #title {
        font-size: 20px;
    }
    
    #sub-title {
        font-size: 12px;
    }
    
    ul.topnav li a {
        padding: 8px 6px;
        font-size: 11px;
    }
    
    #theory-header {
        font-size: 16px;
    }
    
    #body-paragraphs {
        font-size: 13px;
    }
    
    .text-container,
    .image-container {
        padding: 15px;
    }
}
